@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html
{
    background-color: #232931;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

h1
{
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}

h2
{
    text-align: center;
}

input
{
      background-color: #232931;
                 color: #A0A0A0;
         border-radius: 3px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
                border: #606060 1px solid;
           font-family: 'Roboto Mono', monospace;
}

::placeholder
{
    color: #A0A0A0;
    opacity: 1;
    font-family: 'Roboto Mono', monospace;
}

#resetTable
{
    width: 400px;
    height: 25%;
    margin: 5% auto;
    border-collapse: collapse;
}

td
{
    text-align: center;
    height: 50px;
}

.headerRow
{
    border-bottom: 0px !important;
    height: 75px;
    font-size: 35px;
    margin-bottom: 5px;
}

.bigSpacerRow
{
    height: 10px;
}

.smallSpacerRow
{
    height: 5px;
}

input[type=text], input[type=password]
{
    width: 100%;
    height: 100%;
    text-align: center;
}

.resetPasswordButton
{
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    width: 100%;
    height: 100%;
}

.resetButton
{
    background-color: #A11E1E;
    color: black;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    width: 100%;
    height: 100%;
}